:root {
  --primary-dark: #0073D8;
  --primary-light: #A2D6F9;
  --accent-pink: #FD56CB;
  --secondary-light: #FCF300;
  --secondary-dark: #FFC600;
  --dark-grey: #585858;
  --white: #FDFDFD;
  --radius:2rem;
  --box-shadow: 6px 9px 19px -6px rgba(0,0,0,0.28); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.content__container {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem; }

.header {
  font-size: 2.4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--accent-pink); }

::placeholder {
  color: var(--primary-light); }

.card {
  color: var(--primary-dark);
  text-transform: uppercase; }

.card {
  background-color: var(--white);
  border-radius: var(--radius);
  margin: 2rem auto;
  box-shadow: var(--box-shadow);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  width: 80%; }
  .card--detail__container {
    margin: 1.5rem 0;
    font-weight: 900;
    font-size: 2.4rem; }
    .card--detail__container > * {
      display: inline; }
      .card--detail__container > *:not(:first-child) {
        margin-left: 1rem; }
  .card:nth-child(1) {
    z-index: 3; }
  .card:nth-child(2) {
    z-index: 2;
    transform: translateY(4rem) scale(90%); }
  .card:nth-child(3) {
    z-index: 1;
    transform: translateY(8rem) scale(80%); }

@media screen and (max-width: 420px) {
  .card {
    padding: 0.2rem;
    padding-top: 1rem; } }

.input--text, button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.6rem;
  color: var(--primary-dark); }

.input--text {
  margin-left: 1rem;
  color: var(--primary-dark);
  width: 40%; }

.swipe {
  background-color: var(--white);
  border-radius: 100rem;
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--secondary-dark);
  box-shadow: var(--box-shadow); }

@media screen and (max-width: 420px) {
  .swipe {
    width: 6rem;
    height: 6rem;
    font-size: 2rem; } }

.card img {
  object-fit: cover;
  object-position: center;
  width: 80%;
  height: 80%;
  border-radius: var(--radius); }

@media screen and (max-width: 420px) {
  img {
    width: auto;
    height: 90%; } }

.content__container {
  margin: auto;
  width: 39rem;
  background-image: linear-gradient(to right bottom, #60efff, #0061ff);
  padding: 3rem;
  height: 100rem; }

.searchbar__container {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  margin: 1rem 0;
  color: var(--primary-dark);
  box-shadow: var(--box-shadow); }

.searchbar {
  width: 100%; }

.cards__container {
  width: 90%;
  margin: auto;
  border-radius: var(--radius);
  position: relative;
  height: 65rem;
  display: flex;
  justify-content: center; }

.navbar__container {
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  color: var(--white); }
  .navbar__container > * {
    box-shadow: var(--box-shadow); }

.swipe__container {
  display: flex;
  width: 60%;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between; }

.btn__notification--container {
  display: flex;
  width: 5rem;
  justify-content: space-between; }

@media screen and (max-width: 420px) {
  .content__container {
    width: 100vw;
    max-height: 100vh; }
  .cards__container {
    width: 95%;
    height: 65vh; } }
