.content__container {
    max-width: 45rem;
    background-image: linear-gradient(to right bottom, #60efff, #0061ff);
    padding: 3rem;
}

.searchbar__container {
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    margin: 1rem 0;
}
