.card img {
    object-fit: cover;
    object-position: center;
    width: 80%;
    height: 80%;
    border-radius: var(--radius);
}

@media screen and (max-width: 420px) {
    img {
        width: auto;
        height: 90%;
    }
}
