.input--text, button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.6rem;
    color:var(--primary-dark);
}

.input--text {
    margin-left: 1rem;
    color:var(--primary-dark);
    width: 40%;
}
