.left-hide {
    animation: move-left 0.5s ease-out;
}

.right-hide {
    animation: move-right 0.5s ease-out;
}

@keyframes move-left {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }

    25% {
        transform: translateX(-30%) translateY(-10%);
    }

    100% {
        transform: translateX(-100%) translateY(0%);
        opacity: 0;
    }
}

@keyframes move-right {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }

    25% {
        transform: translateX(30%) translateY(-10%);
    }

    100% {
        transform: translateX(100%) translateY(0%);
        opacity: 0;
    }
}
