:root {
    --primary-dark: #0073D8;
    --primary-light: #A2D6F9;
    --accent-pink: #FD56CB;
    --secondary-light: #FCF300;
    --secondary-dark: #FFC600;


    --dark-grey: #585858;
    --white: #FDFDFD;

    --radius:2rem;
    --box-shadow: 6px 9px 19px -6px rgba(0,0,0,0.38);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // this define what 1 rem is
    font-size: 62.5%; // 1 rem = 10px
}

body {
    box-sizing: border-box;
}
