.content__container {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
}

.header {
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--accent-pink);
}

::placeholder {
    color:var(--primary-light);
}

.card {
    color: var(--primary-dark);
    text-transform: uppercase;
}

